# --- API KEYS ---
# Obtenla en https://fireworks.ai/
FIREWORKS_API_KEY=tu_api_key_aqui
#Opcional: usar solo si quieres es calar el proyecto a uno de multi agentes, si no, puedes dejarlo vacío
GOOGLE_API_KEY='tu_api_key_aqui'
openai_api_key='tu_api_key_aqui'

# Obtenla en https://tavily.com/
TAVILY_API_KEY=tu_api_key_aqui

# --- CONFIGURACIÓN DE RUTAS ---
# Rutas relativas a la raíz del proyecto
CHROMA_PATH=data/vector_store
MANUALS_PATH=data/manuales

# --- MODELOS ---
# Modelos sugeridos de Llama-3 en Fireworks
ROUTING_MODEL=accounts/fireworks/models/qwen2p5-72b-instruct
REASONING_MODEL=accounts/fireworks/models/qwen2p5-72b-instruct