# --- Entornos Virtuales y Dependencias ---
venv/
.env/
env/
bin/
include/
lib/
share/
lib64/
pyvenv.cfg

# --- Variables de Entorno (CRÍTICO: Credenciales) ---
.env
.env.local
.env.*.local

# --- Python (Caché y Temporales) ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
*.log

# --- Datos y Persistencia (Específico de Lisary) ---
# Ignoramos la base de datos vectorial generada
data/vector_store/
# Ignoramos los manuales oficiales para evitar problemas de Copyright
data/manuales/*.pdf
# Ignoramos la DB de historial y sus archivos temporales de SQLite
data/*.db
data/*.db-wal
data/*.db-shm

# --- IDEs y Sistema Operativo ---
.vscode/
.idea/
.DS_Store
Thumbs.db

